*{
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
#calculator{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(6,1fr);
  border: 0.2vw solid black;
  background-color: black;
}
#input{
  outline: none;
  grid-column: 1/5;
  text-align: right;
  border-radius: 1vw;
  background-color: black;
  color: white;
  border: 0.2vw solid gray;
}
button{
  font-weight: bold;
  background-color: rgb(32, 32, 32);
  border: 0.2vw solid black;
  border-radius: 1vw;
  color: white;
}
@media (max-width:480px)  { 
  #calculator{
    width: 60vw;
    height: 70vh;
    gap: 2%;
    padding: 2%;
    border-radius: 1vw;
  }
  #input{
    font-size: 2rem;
    padding-right: 1%;
  }
  button{
    font-size: 1rem;
  }
}
@media (min-width:481px)  { 
  #calculator{
    width: 30vw;
    height: 60vh;
    gap: 2%;
    padding: 2%;
    border-radius: 1vw;
  }
  #input{
    font-size: 2rem;
    padding-right: 1%;
  }
  button{
    font-size: 1.5rem;
  }
}


button:hover{
  cursor: pointer;
  background-color:rgb(22, 22, 22) ;
}
.orange{
  color: rgb(255, 119, 0);
}